

<footer>
    <div class="footer-top text-center">
        <div class="container">
            <div class="row">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                  <a href="#"> <h4 class="navbar-brand">Prixima<span class="dot">.</span></h4></a> 
                    <p>The post can be written by someone who works for your company, or you can hire a guest writer to compose the post. </p>
                    <div class="col-auto social-icons">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-pinterest'></i></a>
                    </div>
                    <!-- <div class="col-auto conditions-section">
                        <a href="#">privacy</a>
                        <a href="#">terms</a>
                        <a href="#">disclaimer</a>
                    </div> -->
                    <div class="col-auto conditions-section">
                      
                            <a routerLink="/home">Home</a>|
                     
                            <a routerLink="/about-body">About</a>|

                            <a routerLink="/service-body">Services</a>|
                            <a routerLink="/blog-body">Blog</a>|
                            <a routerLink="/contact">Contact</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <p class="mb-0">Copyright Prixima 2023. All rights Reserved</p> 
        <p> Distributed By Prixima</p>
            
    </div>
</div>
</footer>