
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Blog</h6>
                        <h1>Blog Posts</h1>
                        <p class="mx-auto">The post can be written by someone who works for your company, or you can hire a guest writer to compose the post. The benefit of hiring an external writer is the post can be shared eith. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let bl of blog;let i=index">
                    <article class="blog-post" >
                        <img src="{{bl.photo}}" alt="">
                        <a href="#" class="tag">{{bl.batch}}</a>
                        <div class="content">
                            <small>{{bl.date}}</small>
                            <h5>{{bl.title}}</h5>
                            <p>
                             {{bl.description}}
                            </p>
                  
                        </div>
                    
                      
                    </article>
                  
          
                        
                </div>
                <!-- <div class="col-md-4">
                    <article class="blog-post">
                        <img src="img/project4.jpg" alt="">
                        <a href="#" class="tag">Programming</a>
                        <div class="content">
                            <small>01 Dec, 2022</small>
                            <h5>Web Design trends in 2022</h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="img/project2.jpg" alt="">
                        <a href="#" class="tag">Marketing</a>
                        <div class="content">
                            <small>01 Dec, 2022</small>
                            <h5>Web Design trends in 2022</h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from</p>
                        </div>
                    </article>
                </div> -->
            </div>
        </div>
    </section>

