
<!-- services -->
<section id="services" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12" >
                <div class="intro">
                    <h6>Our Services</h6>
                    <h1>What We Do?</h1>
                    <p class="mx-auto">The post can be written by someone who works for your company, or you can hire a guest writer to compose the post. The benefit of hiring an external writer is the post can be shared either on your blog or on another blog that's popular in your industry.</p>
                </div>
            </div>
        </div>
        <div class="row g-4" >
            <div class="col-lg-4 col-md-6" *ngFor="let ser of ser ;let i=index"  >
                <div class="service">
                    <img src="{{ser.ser_logo}}" alt="">
                    <h5>{{ser.ser_title_1}}</h5>
                    <p>{{ser.ser_description_1}}</p>
                    <strong><a routerLink="/service-body"> Learn More</a></strong>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="img/icon2.png" alt="">
                    <h5>Logo Designing</h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="img/icon3.png" alt="">
                    <h5>Buisness consulting</h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="img/icon4.png" alt="">
                    <h5>Videography</h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="img/icon5.png" alt="">
                    <h5>Brand Identity</h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service">
                    <img src="img/icon6.png" alt="">
                    <h5>Ethical Hacking</h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
